:host {
  flex: 1 1 auto;
  display: flex;
  background-color: var(--primary-color);

  > div {
    flex: 1 1 auto;
    display: flex;
    background-position: center;
    background-size: cover;

    > div {
      padding: 1rem;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(5rem);

      mat-card {
        margin-bottom: 1rem;

        div[mat-card-avatar] {
          background-image: url("/assets/bulb.png");
          background-size: cover;
        }

        mat-card-title:first-of-type {
          color: darkgray;
        }

        mat-card-content {
          padding: 1rem;

          img {
            width: 100%;
          }
        }

        mat-card-actions {
          display: flex;
        }
      }
    }
  }
}
