:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  background-image: url("/assets/vuurwerk.gif");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;

  mat-card {
    background-color: #c59200;
    color: white;

    mat-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}
