<mat-card>
  <mat-card-header>
    <mat-card-title
      ><h1>
        YOU DID IT!!!
        <br />
        <br />
        Bedankt om mee te doen aan deze interactieve nieuwjaarswandeling!
      </h1>
    </mat-card-title>
    <mat-card-subtitle>Op naar een leuk 2021!</mat-card-subtitle>
  </mat-card-header>
</mat-card>
