:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/intro.jpg");
  background-position: center;
  background-size: cover;
  padding: 1rem;

  mat-card {
    margin-bottom: 25rem;
    background-color: #ffffff5e;
    backdrop-filter: blur(30px);

    mat-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}
