<intro *ngIf="state === 'intro'" (begin)="startSearch()"></intro>

<location-hint
  *ngIf="state === 'busy'"
  [hint]="locationHintTree"
  (success)="getNextLocationHint()"
></location-hint>

<outro *ngIf="state === 'outro'"></outro>
