:host {
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;

  #close {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    .bold {
      font-weight: bold;
    }

    a {
      margin-top: 1rem;
      display: block;

      &.tel {
        display: inline;
      }
    }

    button {
      height: 1rem;
    }
  }
}
