<mat-dialog-content>
  <section class="mat-typography">
    <h2>Beste familie</h2>
    <p class="mat-caption">
      Enkele tips voor het goede gebruik van de app om je wat extra kilometers
      en een hulplijn te besparen:
    </p>
    <p>
      De <span class="mat-body-strong">terug</span> toets is
      <span class="mat-body-strong">niet beschikbaar!</span> Bij gebruik hiervan
      zal deze wel een waarschuwing geven maar ik kan jammer genoeg niet
      voorkomen dat je dan alsnog op "Verlaten" of nog eens op terug drukt om de
      app af te sluiten waarbij je
      <span class="mat-body-strong">vooruitgang verloren gaat.</span>
    </p>
    <p>
      Dit betekent inderdaad dat je
      <span class="mat-body-strong"
        >geen vorige tips opnieuw kan bekijken.</span
      >
      Sommige tips hebben geen locatie en kan je direct wegklikken, zorg dat je
      deze goed bekijkt voor je op "Ik ben er, volgende tip" klikt!
    </p>
    <p>
      Zorg ook dat je niet vergeet om
      <span class="mat-body-strong"
        >op volgende tip te klikken vooraleer je verder wandelt,</span
      >
      anders zal je na een tijdje beseffen dat je geen idee meer hebt waar je
      heen moet en terug moet wandelen naar het vorige punt om de volgende tip
      te kunnen bekijken.
    </p>
    <p>
      Je zou denken dat deze informatie grotendeels overbodig is, maar
      praktische gebruikerstesten met digibeten hebben anders uitgewezen...
    </p>
  </section>
  <button mat-raised-button color="warn" (click)="start()">Begrepen!</button>
</mat-dialog-content>
